---
layout: default
title: River House Belfast - The Building
navigation: 'white'

image_slider:
  - title: Luxury floor space
    image: luxury-floor-space
  - title: Luxury floor space
    image: luxury-floor-space
  - title: Luxury floor space
    image: luxury-floor-space

slider_captions:
  - "Reception Area"
  - "Reception Area"
  - "Reception Area"
  - "Exterior"
  - "Thirteenth Floor"
  - "Thirteenth Floor"
  - "Bathroom Facilities"
  - "Bathroom Facilities"
  - "Shower Facilities"
  - "Panoramic Views"
  - "Panoramic Views"
  - "Exterior"

---

<div class="min-vh-100 intro-building pt3 pt4-m pt6-l">
  {%include navigation.html%}
</div>

<div class="bg-white">

  <div class="pt3 pt5-ns bb b--black ph3 ph0-ns">
    <div class="mw9-l center">
      <div class="w-100 tc">
        <img class="w-100" src="/images/floor-areas.png" srcset="/images/floor-areas.png 1x, /images/floor-areas@2x.png 2x" alt="Floorplans of Riverhouse Building">
      </div>
    </div>
  </div>

  <div class="pv3 pv5-ns ph3 ph0-ns">
    <div class="mw9-l center">
      <div class="flex flex-wrap w-100">
        {% for feature in site.features %}
          <div class="w-100 w-third-ns">
            <div class="cf">
              <hr class="fl mb2 mb3-ns w-100 w-40-ns bg-gray">
            </div>
            <p class="lh-title f4-ns black mb3 fw6 mb5-ns measure-tight-ns">{{feature.name}}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="pv3 pv5-ns ph3 ph0-ns">
    <div class="mw9-l center">
      <h1 class="ttu f2 f1-ns normal dark-gray heading">Floor Plans</h1>
      <div class="cf">
        <hr class="fl mb3 w-30 bg-dark-gray">
      </div>

      <section class="pb5">
        <h2 class="ttu heading f3 f2-ns dark-gray mb2">Office</h2>
        <img class="w-100" src="/images/office-floor-plan.svg" alt="Riverhouse Offices floor Plan">
      </section>

      <section>
        <h2 class="ttu heading f3 f2-ns dark-gray mb2">Retail</h2>
        <img class="w-100" src="/images/retail-floor-plan.svg" alt="Riverhouse Retail floor Plan">
        <p class="fw6 f3 gray">Planning granted for restaurant use. It’s all happening here.</p>
      </section>


    </div>
  </div>

  <div class="pv3 pv5-ns ph3 ph0-ns">
    <div class="mw9-l center">
      <h2 class="ttu f2 f1-ns dark-gray heading mb0">Proposed Floor Areas</h2>
      <div class="cf">
      <hr class="fl mb2 mb3-ns w-100 w-40-ns bg-gray">
      </div>

      <h3 class="gray f4-ns ma0 mb2">(IPMS 3 / Net Internal)</h3>

      <div class="overflow-auto">
        <table class="f4-ns mt3 mt5-ns w-100 center gray table-fixed" cellspacing="0">
          <thead>
            <tr>
              <th class="fw6 bb b--black-20 tl pb2 pr3 bg-white">Retail / Restaurant</th>
              <th class="fw6 bb b--black-20 tl pb2 pr3 bg-white">Sq M</th>
              <th class="fw6 bb b--black-20 tl pb2 pr3 bg-white">Sq F</th>
            </tr>
          </thead>
          <tbody class="lh-copy">
            {% for cell in site.floorspace %}
            <tr>
              <td class="pv2 pr3">{{cell.floor}}</td>
              <td class="pv2 pr3">{{cell.sqm}}</td>
              <td class="pv2 pr3">{{cell.sqf}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="overflow-auto">
        <table class="f4-ns mt4 mt5-ns w-100 center gray table-fixed" cellspacing="0">
          <thead>
            <tr>
              <th class="fw6 bb b--black-20 tl pb2 pr3 bg-white">Offices</th>
              <th class="fw6 bb b--black-20 tl pb2 pr3 bg-white">Sq M</th>
              <th class="fw6 bb b--black-20 tl pb2 pr3 bg-white">Sq F</th>
            </tr>
          </thead>
          <tbody class="lh-copy">
            {% for cell in site.offices %}
            <tr>
              <td class="pv2 pr3">{{cell.floor}}</td>
              <td class="pv2 pr3">{{cell.sqm}}</td>
              <td class="pv2 pr3">{{cell.sqf}}</td>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <td class="pv4 pr3 heading">Total Space</td>
              <td class="pv4 pr3 heading">7,348</td>
              <td class="pv4 pr3 heading">80,052</td>
            </tr>
          </tfoot>
        </table>
        <hr class="w-100 bg-dark-gray">

      </div>
    </div>
  </div>

  <div class="pt3 pt5-ns">
    <div class="mw9-l center ph3 ph0-ns">
      <h2 class="ttu f2 f1-ns normal dark-gray heading">Gallery</h2>
    </div>

    <div class="slider-for center tc bg-black relative">
      {% for i in (1..12) %}
            {% assign index = forloop.index %}
      <div>
        <img class="db tc center" src="/images/building/building-gallery-{{i}}.jpg" alt="Gallery image {{i}}">

  
        {% if index == 1 or index == 2 or index == 3 %}
          <p class="white ttu f3">Reception Area</p>
        {% elsif index == 4 %}
          <p class="white ttu f3">Exterior</p>
        {% elsif index == 5 or index == 6 %}
          <p class="white ttu f3">Thirteenth Floor</p>
        {% elsif index == 7 or index == 8 %}
          <p class="white ttu f3">Bathroom Facilities</p>
        {% elsif index == 9 %}
          <p class="white ttu f3">Shower Facilities</p>
        {% elsif index == 10 or index == 11 %}
          <p class="white ttu f3">Panoramic Views</p>
        {% elsif index == 12 %}
          <p class="white ttu f3">Exterior</p>
        {%endif%}
        
      </div>
      {%endfor%}

      
    </div>
    
    <div class="slider-nav mv5 flex justify-center items-center">
      {% for i in (01..12) %}
      <div class="flex items-center justify-center">
        <img src="/images/building/building-gallery-sm-{{i}}.jpg" alt="Gallery image {{i}}">
      </div>
      {%endfor%}
    </div>

    
  </div>

  {%include contact.html%}

</div><!-- /bg-white -->
