---
layout: default
title: River House Belfast - Contact us
navigation: 'white'
---

<div class="min-vh-100 intro-contact pt3 pt4-m pt6-l">
  {%include navigation.html%}

    <div class="mw9 center ph3 ph0-ns pb5">
    </div>
</div>

<section class="pv5">
  <div class="mw9 center ph3 ph0-ns">
      <h2 class="ttu f2 f1-l dark-gray lh-title ma0">Project Team</h2>
      <div class="cf">
        <hr class="fl mv3 w-100 w-30-ns bg-gray">
      </div>
    

    <table class="mt3 mt5-ns">
        <tr>
            <td class="fw6 f4 f3-ns pr5 pb3">Developer</td>
            <td class="fw6 f4 f3-ns pb3 gray">Martin Claisse - Castleforge Partners</td>
        </tr>
        <tr>
            <td class="fw6 f4 f3-ns pr5 pb3">Project Manager</td>
            <td class="fw6 f4 f3-ns pb3 gray">Adrian Poucher - Malcolm Hollis LLP</td>
        </tr>
        <tr>
            <td class="fw6 f4 f3-ns pr5 pb3">Architect</td>
            <td class="fw6 f4 f3-ns pb3 gray">John Lee - Povall Worthington</td>
        </tr>
        <tr>
            <td class="fw6 f4 f3-ns pr5 pb3">Cost Consultant</td>
            <td class="fw6 f4 f3-ns pb3 gray">Michael Riordan - Linesight</td>
        </tr>
        <tr>
            <td class="fw6 f4 f3-ns pr5 pb3">M&E Engineers</td>
            <td class="fw6 f4 f3-ns pb3 gray">Thomas Lehd - Lehding Services Design</td>
        </tr>
        <tr>
            <td class="fw6 f4 f3-ns pr5 pb3">Structural Engineers</td>
            <td class="fw6 f4 f3-ns pb3 gray">Christopher Reynolds - Brian W Murray</td>
        </tr>
        <tr>
            <td class="fw6 f4 f3-ns pr5 pb3">Fire Engineers</td>
            <td class="fw6 f4 f3-ns pb3 gray">Tony McParland - Jeremy Gardner Associates</td>
        </tr>
        <tr>
            <td class="fw6 f4 f3-ns pr5 pb3">Principle Designer</td>
            <td class="fw6 f4 f3-ns pb3 gray">Paul Cheyne - Hasco Europe</td>
        </tr>
        <tr>
            <td class="fw6 f4 f3-ns pr5 pb3">Principle Contractor</td>
            <td class="fw6 f4 f3-ns pb3 gray">Brendan Moley - MAC Group</td>
        </tr>
        <tr>
            <td class="fw6 f4 f3-ns pr5 pb3">Interiors Architect</td>
            <td class="fw6 f4 f3-ns pb3 gray">Tim Shepherd - Aedas</td>
        </tr>
        
    </table>

  </div>

</section>

<section>

    {% include contact.html %}

</section>

<section class="pv5 bottom">
    <div class="mw9 center ph3 ph0-ns">
        <h2 class="ttu f2 f1-l dark-gray lh-title ma0">Downloads</h2>
        <div class="cf">
            <hr class="fl mv3 w-100 w-30-ns bg-gray">
        </div>
        
        <div class="mt5">
            <div class="db mb4">
                <a class="pa3 dib w-auto tc lh-solid white ba b--transparent w-100 submit bg-animate bg-blue hover-bg-dark-blue link ttu f4 fw6" href="/downloads/river-house-brochure.pdf">RIVER HOUSE OFFICE BROCHURE</a>
            </div>
            <div class="db mb4">
                <a class="pa3 dib w-auto tc lh-solid white ba b--transparent w-100 submit bg-animate bg-blue hover-bg-dark-blue link ttu f4 fw6" href="/downloads/river-house-retail-brochure.pdf">RIVER HOUSE RETAIL BROCHURE</a>
            </div>

            <div class="db mb4">
                <a class="pa3 dib w-auto tc lh-solid white ba b--transparent w-100 submit bg-animate bg-blue hover-bg-dark-blue link ttu f4 fw6"
                    href="/downloads/castleforge-partners-brochure.pdf">Castleforge Partners Brochure</a>
            </div>

            <div class="db">
                <a class="fw6 f4 link dark-gray hover-gray flex flex-row items-center" href="https://www.instagram.com/riverhousebelfast/">
                    <img class="icon-md mr2" src="/images/icon-instagram.svg" alt="Riverhouse on Instagram">
                    riverhousebelfast
                </a>
            </div>
        
        </div>

        <div class="mt5">
            <div class="db mb4">
                <img class="clockwise-logo-sm" src="/images/clockwise-logo.svg" alt="Clockwise logo">
            </div>
            <div class="db mb3">
                <a class="pa3 dib w-auto tc lh-solid white ba b--transparent w-100 submit bg-animate bg-blue hover-bg-dark-blue link ttu f4 fw6"
                    href="/downloads/clockwise-brochure.pdf">Clockwise Brochure</a>
            </div>
            <div class="db mb3">
                <a target="_blank" class="fw6 f4 link dark-gray hover-gray flex flex-row items-center" href="http://workclockwise.co.uk">workclockwise.co.uk</a>
            </div>
            <div class="db">
                <a target="_blank" class="fw6 f4 link dark-gray hover-gray flex flex-row items-center" href="https://www.instagram.com/workclockwise/">
                    <img class="icon-md mr2" src="/images/icon-instagram.svg" alt="Riverhouse on Instagram">
                    workclockwise
                </a>
            </div>
        </div>

        
    </div>

</section>


</div><!-- /bg-white -->
