---
layout: default
title: River House Belfast - The History
navigation: 'black'
description: River House Is Set To Lift Belfast To Another Level, Creating Office Space For Both Work And Play.
---

<div class="bg-white pt3 pv4-m pv6-l bg-history bg-bottom bg-right">

  {%include navigation.html%}

</div>

<div class="bg-skyline pb5-ns cover bg-fixed-ns overflow-hidden-ns bg-center w-100 h-100 relative">
  <div class="mw8 center ph3 bg-white pa5-ns">

    <h1 class="ttu f3 f2-l gray heading ma0 mb4">History</h1>

    {% for item in site.timeline %}
    <div class="flex flex-column flex-row-ns mb5-ns">
      <div class="w-100 w-50-ns bt-ns b--gray mr5-ns pv4 order-1 order-0-ns">
        <h2 class="f1 fw4 gray ma0 mb3">{{item.date}}</h2>
        <p class="black f4-ns lh-copy">{{item.description}}</p>
      </div>
      <div class="w-100 w-50-ns bt b--gray bn-ns pt4 pt0-ns order-0 order-1-ns">
        <img class="lazyload bg-gray" data-src="/images/{{item.date}}.jpg" alt="{{item.date}}">
      </div>
    </div><!-- /flex -->
    {% endfor %}

  </div><!-- /mw8 -->
  <div class="absolute top-2 right-2 w-60-m w-20-l dn db-xl">
    <div class="bg-white pa5 w-100">
      <h2 class="ttu f3 gray lh-title heading ma0">River House Is Set To Lift Belfast To Another Level, Creating Office Space For Both Work And Play.</h2>
      <div class="cf">
        <hr class="fl mt4 w-60">
      </div>
    </div>
  </div>
</div><!-- /bg-skyline -->


</div><!-- /bg-white -->
