---
layout: default
title: River House Belfast - Modern Office Space in Cathedral Quarter, Belfast City Centre
address: true
navigation: 'gray'
map: true
home: true
---

{% include slider.html %}

<div class="flex flex-column flex-row-l flex-wrap-l w-100">
  <div class="w-100 w-50-l grid-item bg-gray ph4 pv5 flex items-center-m items-end-l justify-start">
    <div class="ml6-ns">
      <div class="db pa5-l">
        <h2 class="ttu f3 f2-l white lh-title heading w-100 w6-ns">River House Is A State Of The Art Modern Office Building In Cathedral Quarter Belfast</h2>
        <hr class="b--white mt4">
      </div>
    </div>
  </div>
  <a href="/building/" class="link relative db w-100 w-50-l hr-grow-child-ns grid-item grid-building cover bg-center flex items-end justify-start hide-child-ns no-underline">
    <div class="absolute w-100 h-100 bg-black-50 child top-0 left-0"></div>
    <div class="db pa4 pa5-l child relative z-2 w-60">
      <div class="pa5-l">
        <h3 class="ttu f3 f2-l white lh-title heading w-100 w6-ns">Building</h3>
        <hr class="b--white mt4 hr-transition link">
      </div>
    </div>
  </a>
  <a href="/location/" class="link relative db w-100 w-50-l hr-grow-child-ns grid-item grid-location cover bg-center flex items-end justify-start hide-child-ns no-underline">
    <div class="absolute w-100 h-100 bg-black-50 child top-0 left-0"></div>
    <div class="db pa4 pa5-l child relative z-2 w-60">
      <div class="pa5-l">
        <h3 class="ttu f3 f2-l white lh-title heading w-100 w6-ns">Location</h3>
        <hr class="b--white mt4 hr-transition link">
      </div>
    </div>
  </a>
  <a href="/history/" class="link relative db w-100 w-50-l hr-grow-child-ns grid-item grid-history cover bg-center flex items-end justify-start hide-child-ns no-underline">
    <div class="absolute w-100 h-100 bg-black-50 child top-0 left-0"></div>
    <div class="db pa4 pa5-l child relative z-2 w-60">
      <div class="pa5-l">
        <h3 class="ttu f3 f2-l white lh-title heading w-100 w6-ns">History</h3>
        <hr class="b--white mt4 hr-transition link">
      </div>
    </div>
  </a>
</div>

<div class="pv3 pv5-ns tc bg-white z-2">
  <img class="rotate-90 logo-sm logo-rotated mt4" src="{{site.baseurl}}/images/logo.svg" alt="Riverhouse logo">

  <div class="nt5-l">
    <h2 class="ttu f3-m f2-l gray lh-title heading mb5-l">Work &amp; Play In Cathedral Quarter Belfast</h2>
    <div class="flex flex-wrap justify-between mw9 center pt3 tc">
      <div class="db pa2 pa0-l pr4-l w-50 w-25-l center">
        <img class="icon-md mb3" src="/images/merchant-icon.svg" alt="The Merchant Hotel">
        <p class="black f4-ns lh-copy ph3-m ph0-l">1 minute walk to The Merchant Hotel and Cathedral Quarter</p>
      </div>
      <div class="db pa2 pa0-l pr4-l w-50 w-25-l">
        <img class="icon-md mb3" src="/images/coffee-cup-icon.svg" alt="Coffee Cup">
        <p class="black f4-ns ph3-m ph0-l lh-copy">Large range of coffee shops and eateries</p>
      </div>
      <div class="db pa2 pa0-l pr4-l w-50 w-25-l">
        <img class="icon-md mb3" src="/images/vic-square-icon.svg" alt="Victoria Square">
        <p class="black f4-ns ph3-m ph0-l lh-copy">3 minute walk to Victoria Square shopping and leisure</p>
      </div>
      <div class="db pa2 pa0-l w-50 w-25-l">
        <img class="icon-md mb3" src="/images/barbell.svg" alt="Dumbbell">
        <p class="black f4-ns ph3-m ph0-l lh-copy">A number of gyms located in the immediate area</p>
      </div>
    </div>
  </div>
</div>

{% include map.html %}

{% include contact.html %}
