---
layout: default
title: River House Belfast - Modern Office Space in Cathedral Quarter, Belfast City Centre
address: true
navigation: 'white'
map: true
home: true
carousel: true
---

{% include slider.html %}

<div class="flex flex-column flex-row-l flex-wrap-ns w-100">
  <div class="w-100 w-50-l grid-item bg-white ph4 pv5 flex items-center-ns justify-center pa3 pa5-l">
    <div class="db grid-item--text">
      <h2 class="ttu f2 f1-ns dark-gray lh-title w-100 ma0 fw6">Grade A Office Space</h2>
      <hr class="bg-dark-gray mv4">
      <h3 class="ttu dark-gray f3 ma0 fw6">IN THE EPICENTRE OF BELFAST'S CULTURAL SCENE</h3>
    </div>
  </div>
  <div class="w-100 w-50-l grid-item grid-item--office-space cover bg-center">
  </div>

  <div class="w-100 w-50-l grid-item grid-item--sea-faring cover bg-center">
  </div>
  <div class="w-100 w-50-l grid-item bg-dark-gray ph4 pv5 flex items-center-ns justify-center pa3 pa5-l">
    <div class="db grid-item--text">
      <h2 class="ttu f2 f1-ns white lh-title w-100 ma0">SEA-FARING PAST, PACE-SETTING FUTURE</h2>
      <hr class="bg-white mv4">
    </div>
  </div>

  
</div>

{% include work-play-section.html %}

{% include map.html %}

{% include contact.html %}
