---
layout: default
title: River House Belfast - The Location
navigation: 'white'
map: true
---

<div class="min-vh-100 intro-location pt3 pt4-m pt6-l">
  {%include navigation.html%}

    <div class="mw9 center ph3 ph0-ns pb5">
    </div>
</div>

<div class="min-vh-100 bg-culture bg-center cover flex items-center items-end-ns justify-center justify-end-ns pa3 pa5-ns">
  <div class="bg-near-white pa4 pa5-ns w-100 feature-box" style="background-color: #FCF5FD;">
    <h2 class="ttu f2 f1-l dark-gray lh-title heading ma0">Hey Neighbour!</h2>
    <div class="cf">
      <hr class="fl mv2 w-100 bg-gray">
    </div>
    <h3 class="dark-gray f3">Introduce your business to Northern Ireland's most exciting neighbourhood.</h3>
  </div>
</div>

<section class="pv5">
  <div class="mw9 center ph3 ph0-ns">
      <h2 class="ttu f2 f1-l dark-gray lh-title heading ma0">Location<br> is key</h2>
      <div class="cf">
        <hr class="fl mv2 w-100 w-30-ns bg-gray">
      </div>
  </div>
  <div class="ph5 pt4">
    <img class="w-100" src="/images/belfast-skyline-pointers.jpg" alt="Belfast Skyline">
  </div>
</section>

<div class="bg-white pv4 ph3 ph0-l">
  <div class="flex flex-wrap justify-between mw8 center pt3 tc">
    <div class="w-100 w-50-ns pa3 pa5-l">
      <img class="mb3 icon-lg" src="/images/plane-icon.svg" alt="Airplane icon">
      <p class="dark-gray f4-ns lh-copy fw6">A 10 minute drive from George Best Airport. Belfast International Airport is a comfortable 30 minute drive away.</p>
    </div>
    <div class="w-100 w-50-ns pa3 pa5-l">
      <img class="mb3 icon-lg" src="/images/train-icon.svg" alt="Train icon">
      <p class="dark-gray f4-ns lh-copy fw6">Short taxi ride (or ten minute walk) to Central and Great Victoria Street Transport Hub.</p>
    </div>
    <div class="w-100 w-50-ns pa3 pa5-l">
      <img class="mb3 icon-lg" src="/images/bike-icon.svg" alt="Bicycle icon">
      <p class="dark-gray f4-ns lh-copy fw6">Linked to UK National Cycle Network. Belfast Bike Share Scheme Docking Station one minute away.</p>
    </div>
    <div class="w-100 w-50-ns pa3 pa5-l">
      <img class="mb3 icon-lg" src="/images/boat-icon.svg" alt="Belfast boat icon">
      <p class="dark-gray f4-ns lh-copy fw6">Close to Belfast Harbour, with multiple daily sailings coming and going from other major U.K cities.</p>
    </div>
  </div>
</div>

{% include map.html %}

<div class="min-vh-100 bg-cathedral-q bg-center cover ph3 ph0-l">
</div>

{% include work-play-section.html %}



{%include contact.html%}


</div><!-- /bg-white -->
