---
layout: default
title: River House - The Location
navigation: 'white'
---

<div class="min-vh-100 intro-location pt3 pt4-m pt6-l">
  {%include navigation.html%}

    <div class="mw9 center ph3 ph0-ns pb5">
      <div class="bg-black mt5 pa4 pa5-ns w-100 w-60-m w-50-l">
        <h1 class="ttu f3 f2-l gray lh-title fw5 ma0">Make The Most Of Belfast City Centre With The Best Gyms, Shops, Bars, Restaurants Just Around The Corner</h1>
        <div class="cf">
          <hr class="fl mt4 gray w-60 b--gray">
        </div>
      </div>
    </div>
</div>

<div class="min-vh-100 bg-culture bg-center cover flex items-center items-start-ns ph3 ph0-l">
  <div class="mw9 pv5 center ph3 ph0-ns flex justify-center justify-end-ns">
    <div class="bg-white pa4 pa5-ns w-100 w-60-m w-50-l">
      <h2 class="ttu f3 f2-l gray lh-title fw5 ma0">Located In The Culture Hub Of Belfast With St.Annes Square, The Mac And The Black Box Just Minutes Away</h2>
      <div class="cf">
        <hr class="fl mt4 w-60">
      </div>
    </div>
  </div>
</div>

<img class="w-100" src="/images/belfast-skyline-pointers.jpg" alt="Belfast Skyline">

<div class="bg-white pv4 pv5-ns ph3 ph0-l nt2">
  <div class="mw9 center ph3 ph0-ns">
    <h2 class="ttu f3-m f2-l gray lh-title fw5 mb5-l">Transport</h2>
  </div>
  <div class="flex flex-wrap justify-between mw8 center pt3 tc">
    <div class="w-100 w-50-ns pa3 pa4-l">
      <img class="mb3 icon-lg" src="/images/plane-icon.svg" alt="Airplane icon">
      <p class="black fw5 f4-ns lh-copy">A 10 minute drive from George Best Airport. Belfast International Airport is a comfortable 30 minute drive away.</p>
    </div>
    <div class="w-100 w-50-ns pa3 pa4-l">
      <img class="mb3 icon-lg" src="/images/train-icon.svg" alt="Train icon">
      <p class="black fw5 f4-ns lh-copy">Short taxi ride (or ten minute walk) to Central and Great Victoria Street Transport Hub.</p>
    </div>
    <div class="w-100 w-50-ns pa3 pa4-l">
      <img class="mb3 icon-lg" src="/images/bike-icon.svg" alt="Bicycle icon">
      <p class="black fw5 f4-ns lh-copy">Linked to UK National Cycle Network. Belfast Bike Share Scheme Docking Station one minute away.</p>
    </div>
    <div class="w-100 w-50-ns pa3 pa4-l">
      <img class="mb3 icon-lg" src="/images/boat-icon.svg" alt="Belfast boat icon">
      <p class="black fw5 f4-ns lh-copy">Close to Belfast Harbour, with multiple daily sailings coming and going from other major U.K cities.</p>
    </div>
  </div>
</div>

{% include map.html %}

<div class="min-vh-100 bg-cathedral-q bg-center cover ph3 ph0-l">
  <div class="mw9 pv5 center ph3 ph0-ns">
    <div class="bg-black pa4 pa5-ns w-100 w-60-m w-50-l">
      <h2 class="ttu f3 f2-l gray lh-title fw5 ma0">Work &amp; play In Cathedral Quarter Belfast</h2>
      <div class="cf">
        <hr class="fl mt4 w-60 b--gray">
      </div>
    </div>
  </div>
</div>

<div class="bg-black">
  {%include contact.html%}
</div>


</div><!-- /bg-white -->
