<div class="ph3 pt6-ns bottom cf">
  <div class="db">
    <img class="rotate-90 logo-sm logo-rotated" src="{{site.url}}/images/logo.svg" alt="Riverhouse logo">
    <div class="mw9 center flex flex-column flex-row-ns">
      <div class="w-100 w-50-m w-40-l pr4-ns">
        <h2 class="ttu f2 normal mb2 mb4-ns heading">Get in touch</h2>
        <form id="contact-form" action="https://formspree.io/{{site.email}}" method="POST">
          <fieldset class="ba b--transparent ph0 mh0">
            <legend class="ph0 mh0 fw6 clip">Contact us</legend>
            <div class="mt4">
              <label class="db fw4 lh-copy f5 ttu gray" for="name">Name*
              <input class="db w-90 input-transition pv2 r0 input-reset bb b--gray bg-transparent focus-b focus-b--white outline-0 white f4" required type="text" name="name"  id="name">
              </label>
            </div>
            <div class="mt4">
              <label class="db fw4 lh-copy f5 ttu gray" for="email">Email*
              <input class="db w-90 input-transition pv2 input-reset bb b--gray bg-transparent focus-b focus-b--white outline-0 white f4" required type="email" name="email" id="email">
              </label>
            </div>
            <div class="mt4">
              <label class="db fw4 lh-copy f5 ttu gray" for="email">Tel
              <input class="db w-90 input-transition pv2 input-reset bb b--gray bg-transparent focus-b focus-b--white outline-0 white f4" type="tel" name="tel"  id="tel">
              </label>
            </div>
            <div class="mt4">
              <label class="db fw4 lh-copy f5 ttu gray" for="message">Query*
              <textarea class="db w-90 input-transition pv2 input-reset bb b--gray bg-transparent focus-b focus-b--white outline-0 white f4" required name="message" id="message"></textarea>
              </label>
            </div>
            <input class="dn" type="text" name="_gotcha">
            <input type="hidden" name="_subject" value="New Contact Form Submission">
            <input type="hidden" name="_cc" value="david.wright@cbre.com,rory.mcconnell@mcconnellproperty.com,luke.mcclelland@cbre.com,chelsea@riverhousebelfast.co.uk" />
          </fieldset>
          <div class="mt4">
            <button type="submit" class="button-reset pv3 lh-solid white ba b--transparent w-100 submit bg-animate bg-gray hover-bg-white hover-black link ttu f4">Submit</button>
          </div>
        </form>

      </div>
      <div class="w-100 w-50-m w-60-l pt4 pt0-ns pl4-ns">
        <div class="flex flex-column flex-row-ns justify-around flex-wrap items-center">
          <div class="w-100 w-third-l pv3 ph4 pa4-ns">
            <img class="mb3" src="/images/castleforge-logo.svg" alt="Castleforge logo">
            <span class="db f4 mb1">Rachael Pittaway</span>
            <span class="db f4 mb3">Developer</span>
            <a class="sans-serif link gray hover-white mb2 db f5" href="tel:07562989805">+44 (0) 75 6298 9805</a>
            <a class="sans-serif link gray hover-white db f5" href="mailto:rpittaway@castleforgepartners.com">rpittaway@castleforgepartners.com</a>
          </div>
          <div class="w-100 w-third-l pv3 ph4 pa4-ns">
            <img class="mb3" src="/images/cbre-logo.svg" alt="CBRE logo">
            <span class="db f4 mb1">David Wright</span>
            <span class="db f4 mb3">Joint Leasing Agent</span>
            <a class="sans-serif link gray hover-white mb2 db f5" href="tel:02890436745 ">+44 (0) 28 9043 6745 </a>
            <a class="sans-serif link gray hover-white db f5" href="mailto:david.wright@cbre.com">david.wright@cbre.com</a>
          </div>
          <div class="w-100 w-third-l pv3 ph4 pa4-ns">
            <img class="mb3" src="/images/mcconnell-logo.svg" alt="McConnell logo">
            <span class="db f4 mb1">Rory McConnell</span>
            <span class="db f4 mb3">Joint Leasing Agent</span>
            <a class="sans-serif link gray hover-white mb2 db f5" href="tel:02890205902 ">+44 (0) 28 9020 5902</a>
            <a class="sans-serif link gray hover-white db f5" href="mailto:rory.mcconnell@mcconnellproperty.com">rory.mcconnell@mcconnellproperty.com</a>
          </div>
        </div>
        <div class="mt5 ph4">
          <h5 class="f4 fw5 mb">Disclaimer</h5>
          <p class="lh-copy f5 fw5">Any computer generated images, plans, drawings, accommodation schedules, specification details or other information provided about the property (‘information’) are indicative only. Anysuch information may change at any time and must not be relied upon as beingfactually accurate about the property. Any photographs are indicative of the quality and style of the development and location and do not represent the actual fittings and furnishings at this development.</p>
        </div>
      </div>
    </div>
  </div>
</div>
