<div class="bg-white min-vh-100 overflow-hidden relative bg-slider">
  <div class="absolute {% if page.url contains '/clockwise/' %}intro-clockwise{%else%}intro-home{%endif%} w-100 h-100 min-vh-100 z-1"></div>

  <div id="frame" class="frame absolute top-0 left-0 w-100 h-100 overflow-hidden nowrap">
    <div id="slider" class="slider relative">
      {% if page.url contains "/clockwise/" %}
      <div class="slide w-100 h-100 dib bg-center cover" id="clockwise-picture1"></div>
      <div class="slide w-100 h-100 dib bg-center cover" id="clockwise-picture2"></div>
      <div class="slide w-100 h-100 dib bg-center cover" id="clockwise-picture3"></div>
      <div class="slide w-100 h-100 dib bg-center cover" id="clockwise-picture4"></div>
      {%else%}
      <div class="slide w-100 h-100 dib bg-center cover" id="picture1"></div>
      <div class="slide w-100 h-100 dib bg-center cover" id="picture2"></div>
      <div class="slide w-100 h-100 dib bg-center cover" id="picture3"></div>
      <div class="slide w-100 h-100 dib bg-center cover" id="picture4"></div>
      <div class="slide w-100 h-100 dib bg-center cover" id="picture5"></div>
      <div class="slide w-100 h-100 dib bg-center cover" id="picture6"></div>
      {%endif%}
    </div>
  </div><!-- /#frame -->

  <div class="relative z-2 pt3 pt4-m pt6-l">
    {%include navigation.html%}

    <div class="absolute w-100 top-50 pv5-ns z-4">
      <img class="arrow arrow-left rotate-180 ml2 ml3-ns glow o-50 pointer-hover" class="fr mt-20" src="/images/arrow-right.svg" title="Click to view previous image" alt="Click to view previous image">
      <img class="arrow arrow-right fr glow o-50 mr2 mr3-ns pointer-hover" src="/images/arrow-right.svg" title="Click to view next image" alt="Click to view next image">
    </div>

    {% unless page.url contains "/clockwise/" %}
    <div class="ph4 pb2">
      <div class="ph3 ph5-l">
        <div class="w-100 hero-text ml6-ns dib mt5-ns mt4-l">
          <h1 class="ttu f2 f1-l fw6 white">Cathedral<br> Quarter<br> Belfast</h1>
          <hr class="bg-white my-2">
          <h2 class="f3 f2-l ttu fw6 white">GRADE A OFFICE SPACE 800 SQ FT - 80,000 SQ FT</h2>
        </div>
      </div>
    </div>
    {% endunless %}

  </div><!-- /relative -->

</div><!-- /min-vh-100 -->
