<div class="pv4 pv5-ns ph3 tc bg-blue z-2">
    
    <div class="flex w-100 justify-center">
      <div class="mw6">
        <h2 class="ttu f2 f1-l dark-gray lh-title ma0">Work &amp; Play</h2>
        <hr class="bg-dark-gray mv3">
        <h2 class="dark-gray mt0 ttu f4 f3-ns">In Cathedral Quarter Belfast</h2>
      </div>
    </div>
   
    <div class="flex w-100 flex-wrap justify-between mw9 center pt5 tc">
      <div class="db pa2 pa0-l pr4-l w-50 w-25-l center">
        <img class="icon-work-play mb3" src="/images/merchant-icon.svg" alt="The Merchant Hotel">
        <p class="dark-gray f4-ns lh-copy ph3-ns fw6">1 minute walk to The Merchant Hotel and Cathedral Quarter</p>
      </div>
      <div class="db pa2 pa0-l pr4-l w-50 w-25-l">
        <img class="icon-work-play mb3" src="/images/coffee-cup-icon.svg" alt="Coffee Cup">
        <p class="dark-gray f4-ns ph3-ns lh-copy fw6">Large range of coffee shops and eateries</p>
      </div>
      <div class="db pa2 pa0-l pr4-l w-50 w-25-l">
        <img class="icon-work-play mb3" src="/images/vic-square-icon.svg" alt="Victoria Square">
        <p class="dark-gray f4-ns ph3-ns lh-copy fw6">3 minute walk to Victoria Square shopping complex</p>
      </div>
      <div class="db pa2 pa0-l w-50 w-25-l">
        <img class="icon-work-play mb3" src="/images/barbell.svg" alt="Dumbbell">
        <p class="dark-gray f4-ns ph3-ns lh-copy fw6">A number of gyms located in the immediate area</p>
      </div>
    </div>
  </div>
</div>