
// Converted Variables


// Custom Media Query Variables


/*

   FORMS

*/

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.button-reset::-moz-focus-inner,
.input-reset::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.input-transition {
  transition: width .2s ease-in;
  &:focus {
    width: 100%;
  }
}

input,textarea, button, label {
  border: none;
  font-family: $sans-serif;
}

textarea {
  min-height: 100px;
}
