
// Converted Variables


// Custom Media Query Variables


/*

  STYLES

  Add custom styles here.

*/

html {
  font-family: $sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.intro, .mid, .bottom {
  background-repeat: no-repeat;
}

.intro-large {
  padding-bottom: 20rem;
  @media #{$breakpoint-medium} {
    padding-bottom: 70rem;
  }
  @media #{$breakpoint-large} {
    padding-bottom: 50rem;
  }
  @media #{$breakpoint-xlarge} {
    padding-bottom: 80rem;
  }
}

.intro-home {
  background-image: url('../images/header-bg.svg');
  background-position: bottom right;
  background-size: 60%;
}

.intro-downloads {
  background-image: url('../images/downloads-bg.svg');
  background-position: bottom right;
  background-size: 30%;
}

.intro-location {
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.0)), url('../images/location-bg.svg'), url('../images/location-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover, 20%, cover;
  background-position: center, bottom left, center;
}

.intro-building {
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.90), rgba(0, 0, 0, 0.3)), url('../images/building-bg.svg');
  background-position: center, bottom right;
  background-size: cover, 20%;
  background-repeat: no-repeat;
}

.bg-culture {
  background-image: url('../images/culture-bg.jpg');
}

.bg-cathedral-q {
  background-image: url('../images/duke-of-york-bg.jpg');
}

.bg-office-interior {
  background-image: url('../images/office-interior-bg.jpg');
}

.bg-skyline {
  @media #{$breakpoint-not-small} {
    background-image: url('../images/belfast-skyline-bg.jpg');
  }
}

.bg-history {
  @media #{$breakpoint-large} {
    background-image: url('../images/history-bg.svg');
    background-position: bottom right;
  }
}

.mid {
  padding-bottom: 15rem;
  @media #{$breakpoint-large} {
    padding-bottom: 20rem;
    background-image: url('../images/mid-bg.svg');
    background-position: bottom left;
    background-size: 20%;
  }
  @media #{$breakpoint-xlarge} {
    padding-bottom: 30rem;
  }
}

.bottom {
  background-image: url('../images/bottom-bg.svg');
  background-position: bottom right;
  background-size: contain;
  padding-bottom: 20rem;
  @media #{$breakpoint-not-small} {
    padding-bottom: 35rem;
    background-size: 80%;
  }
  @media #{$breakpoint-large} {
    padding-bottom: 40rem;
  }
  @media #{$breakpoint-xlarge} {
    padding-bottom: 60rem;
  }
}

.logo-md {
  width: 200px;
  @media #{$breakpoint-not-small} {
    width: 275px;
  }
}

.logo-lg {
  width: 335px;
}

.logo-sm {
  width: 150px;
}

.grid-item {
  min-height: 300px;
  @media #{$breakpoint-medium} {
    min-height: 512px;
  }
  @media #{$breakpoint-large} {
    min-height: 700px;
  }
}

.grid-building {
  background-image: url(../images/riverhouse-building.jpg);
}

.grid-location {
  background-image: url(../images/duke-of-york.jpg);
}

.grid-history {
  background-image: url(../images/history.jpg);
}

.icon-md {
  max-width: 90px;
}

.icon-lg {
  max-width: 200px;
}

// .frame {
//   z-index: -1;
//   margin: auto;
// }

.frame {
  min-height: 810px;
}

.slider {
  height: 110%;
  transition: 1s;
}

.slide {
  margin-right: -4px;
}

.logo-rotated {
  display: none;
  @media (min-width:  1400px) {
    display: block;
  }
}

.arrow {
  width: 15px;
  @media #{$breakpoint-not-small} {
    width: 35px;
  }
}

#picture1 {
  background-image: url('../images/slide0.jpg');
}

#picture2 {
  background-image: url('../images/slide1.jpg');
}

#picture3 {
  background-image: url('../images/slide2.jpg');
}

#picture4 {
  background-image: url('../images/slide3.jpg');
}

#picture5 {
  background-image: url('../images/slide4.jpg');
}

#picture6 {
  background-image: url('../images/slide5.jpg');
}

::-moz-selection {
	background: white;
  color: $black;
}
::selection {
	background: white;
  color: $black;
}

.icon-md {
  width: 2rem;
  height: 2rem;
}

.logo-sm {
  max-width: 70px;
}

.illustration-sun {
  width: 200px;
  top: -2em;
  right:8em;
  @media (min-width: 1800px ) {
	  display: block;
  }
}

.illustration-cloud {
  max-width: 250px;
  bottom: 25%;
  left: 0;
}

.illustration-face {
  max-width: 300px;
  bottom: 20%;
  left: 28%;
}

.illustration-waves {
  max-width: 220px;
  bottom: 30%;
  left: 60%;
}

.illustration-man {
  max-width: 180px;
  bottom: 20%;
  right: 0;
}

// @keyframes slidedown {
//   from {
//     transform: rotate(-10deg) translateY(-250px);
//   }
//
//   to {
//     transform: rotate(-10deg) translateY(-20px);
//   }
// }
//
// @-webkit-keyframes slidedown {
//   from {
//     transform: rotate(-10deg) translateY(-250px);
//   }
//
//   to {
//     transform: rotate(-10deg) translateY(-20px);
//   }
// }

.charity-sticker {
  max-width: 200px;
  top: 0;
  left: 80%;
  transform: rotate(-10deg) translateY(0);
  transition: .2s transform ease;
  &:hover {
    transform: rotate(0deg) translateY(-20px);
  }
  &:active {
    transform: rotate(-10deg) translateY(-40px);
  }
  @media #{$breakpoint-large} {
    animation: .5s ease slidedown;
    transform: rotate(-10deg) translateY(-20px);
  }
}
